<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />

<div class="grid grid-cols-[1fr_2fr] w-500px gap-4 p-4" style="background-color: #AEC1C5;">
    <div class=" side-var flex bg-white flex-col items-center">
        <div class="flex justify-between p-5 mt-5 mb-5 gap-5 w-[500px]">
            <input type="text" name="name" id="name" placeholder="Patient's name" class="w-[70%] rounded-3xl h-12 p-5 border-gray-300 border-[1.5px] focus:outline-none">
            <button class=" text-white  text-lg text-center w-[150px] p-2 rounded-xl" style="background-color:#A6886B;"> Add New</button>
        </div>

        <div class= "flex flex-col shadow-lg rounded-lg border-gray-200 border-[1.5px] w-[450px]">
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            
        </div>

        <div class="flex flex-col w-[450px] mt-5">
            <h2 class="treatment-h1 text-xl font-semibold">Treatment Plan #12345</h2>
            <h2 class="price text-4xl font-bold">$11,500</h2>
            <div class="flex justify-between items-center mt-2 gap-3 mb-2">
                <p class="w-[70%] text-sm text-gray-500 ">Cantidad total pendiente del tratamiento</p>
                <button class="w-[30%] bg-[#A6886B] rounded-md text-white">Edit</button>
            </div>
            <p class="ml-[1px] text-sm text-gray-500">Descuento aplicado: __ %</p>
            <ul class="mt-3 ml-[1px] text-sm text-gray-500 whitespace-nowrap">
                <li>Abonado...................................................................................$4,000</li>
                <li>Por Abonar................................................................................$11,000</li>
                <li>Total..........................................................................................$15,000</li>
            </ul>
            <button class="w-full mt-5 mb-5 bg-[#2C2C2C] text-white p-2 rounded-lg">Realizar Pago</button>
        </div>
    </div>  

    <div class="bg-white">
        <div class="flex justify-between m-5">
            <div class="">
                <h1 class="treatment text-xl text-black font-semibold">Treatment Plan #123</h1>
                <h2 class="ml-1 patient text-xl text-black font-semibold">Patient : Sarah Davis</h2>
            </div>
            <div class=" flex gap-2 m-2">
                <button class="w-[100px] h-[40px] p-2 bg-[#A6886B] rounded-xl text-white font-medium">Summary</button>
                <button class="w-[100px] h-[40px] p-2 bg-[#34747B] rounded-xl text-white font-medium">Gallery</button>
                <button class="w-[100px] h-[40px] p-2 bg-[#A6886B] rounded-xl text-white font-medium">Treatment</button>
            </div>
        </div>
        @if (planEmpty()) {
            <div class="flex flex-col items-center justify-center w-full h-[650px]">
                <button class="rounded-2xl p-3 mb-4 text-white font-semibold bg-[#34747B] hover:bg-[#24545a]">Add Treatment</button>
                <p class="text-gray-500">Aun no se ha cargado ningun tratamiento...</p>
            </div>
        }@else {
            <div class="grid grid-cols-3 m-5 gap-5 p-8">
                @for (imgs of img; track $index) {
                    <div><img class=" w-[300px] h-[200px]"src="{{imgs.url}}" alt="{{imgs.plan}}"></div>
                }
            </div>
        }

    </div>
</div>