<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />

<div class="grid grid-cols-[1fr_2fr] w-500px gap-4 p-4" style="background-color: #AEC1C5;">
    <div class=" side-var flex bg-white flex-col items-center">
        <div class="flex justify-between p-5 mt-5 mb-5 gap-5 w-[500px]">
            <input type="text" name="name" id="name" placeholder="Patient's name"
                class="w-[70%] rounded-3xl h-12 p-5 border-gray-300 border-[1.5px] focus:outline-none">
            <button class=" text-white  text-lg text-center w-[150px] p-2 rounded-xl" style="background-color:#A6886B;">
                Add New</button>
        </div>

        <div class="flex flex-col shadow-lg rounded-lg border-gray-200 border-[1.5px] w-[450px]">
            @for (client of clients; track $index) {
            <div class="flex items-center gap-2 m-5 mb-2" [class.selected]="client._id === selectedClientId" (click)="onSelectClient(client)">
                    <span class=" material-symbols-outlined ">person</span><a
                        class=" text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#">
                {{client.firstName}} </a>
            </div>
            }

        <div class="flex flex-col w-[450px] mt-5">
            <h2 class="treatment-h1 text-xl font-semibold">Treatment Plan</h2>
            <h2 class="price text-4xl font-bold">$11,500</h2>
            <div class="flex justify-between items-center mt-2 gap-3 mb-2">
                <p class="w-[70%] text-sm text-gray-500 ">Cantidad total pendiente del tratamiento</p>
                <button class="w-[30%] bg-[#A6886B] rounded-md text-white">Edit</button>
            </div>
            <p class="ml-[1px] text-sm text-gray-500">Descuento aplicado: __ %</p>
            <ul class="mt-3 ml-[1px] text-sm text-gray-500 whitespace-nowrap">
                <li>Abonado...................................................................................$4,000
                </li>
                <li>Por Abonar................................................................................$11,000
                </li>
                <li>Total..........................................................................................$15,000
                </li>
            </ul>
            <button class="w-full mt-5 mb-5 bg-[#2C2C2C] text-white p-2 rounded-lg">Realizar Pago</button>
        </div>
    </div>

    <div class="bg-white">
        <div class="flex justify-between m-5">
            <div class="">
                <h1 class="treatment text-xl text-black font-semibold">Treatment Plan</h1>
                <h2 class="ml-1 patient text-xl text-black font-semibold">Patient : {{inputName}} {{inputLastname}}</h2>
            </div>
            <div class=" flex gap-2 m-2">
                <button class="w-[100px] h-[40px] p-2 bg-[#A6886B] rounded-xl text-white font-medium"
                    (click)="goToSumm()">Summary</button>
                <button class="w-[100px] h-[40px] p-2 bg-[#34747B] rounded-xl text-white font-medium"
                    (click)="goToGall()">Gallery</button>
                <button class="w-[100px] h-[40px] p-2 bg-[#A6886B] rounded-xl text-white font-medium"
                    (click)="goToTreat()">Treatment</button>
            </div>
        </div>

        <div class="flex flex-col items-center justify-center w-full h-[750px]  p-8">
            @if (img.length === 0) {
                <form (ngSubmit)="onSubmit()" class="w-full flex flex-col items-center">
                    <!-- Estilizamos el campo de archivo con un contenedor personalizado -->
                    <label for="image"
                        class="cursor-pointer mb-5 w-[80px] h-[80px] shadow-2xl border-gray-200 border rounded-full flex flex-col items-center justify-center text-gray-500 hover:text-white  hover:bg-[#24545a] transition duration-1000">
                        <span class="material-symbols-outlined text-5xl">cloud_upload</span>
                    </label>
                    <input type="file" name="image" id="image" class="hidden" (change)="onFileChange($event)">
    
                    <!-- Botón para subir la imagen -->
                    <button type="submit"
                        class="rounded-2xl p-3 mb-4 w-[150px] text-white font-semibold bg-[#34747B] hover:bg-[#24545a] transition duration-300">Upload</button>
                </form>
            }@else{
                <!-- Contenedor de imágenes y formulario -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    @for (imgs of visibleImages; track $index) {
                        <img class="w-[400px] h-[300px] object-cover rounded-lg shadow-md hover:scale-105 transition-transform"
                            [src]="imgs.url" [alt]="imgs.filename" />
                    }
        
                    <!-- Mostrar el formulario solo si hay espacio vacío (menos de 6 imágenes) -->
                    @if (visibleImages.length < 6) {
                        <div class="w-[400px] h-[300px] flex items-center justify-center bg-gray-200 rounded-lg shadow-md">
                            <form (ngSubmit)="onSubmit()" class="w-full flex flex-col items-center">
                                <!-- Estilizamos el campo de archivo con un contenedor personalizado -->
                                <label for="image"
                                    class="cursor-pointer mb-5 w-[80px] h-[80px] shadow-2xl border-gray-200 border rounded-full flex flex-col items-center justify-center text-gray-500 hover:text-white  hover:bg-[#24545a] transition duration-1000">
                                    <span class="material-symbols-outlined text-5xl">cloud_upload</span>
                                </label>
                                <input type="file" name="image" id="image" class="hidden" (change)="onFileChange($event)">
        
                                <!-- Botón para subir la imagen -->
                                <button type="submit"
                                    class="rounded-2xl p-3 mb-4 w-[150px] text-white font-semibold bg-[#34747B] hover:bg-[#24545a] transition duration-300">Upload</button>
                            </form>
                        </div>
                    }
                </div>
        
                <!-- Controles de navegación -->
                <div class="flex items-center justify-center w-full mt-4 gap-10">
                    <button class="px-4 py-2 text-gray-700 rounded-full shadow-2xl border-gray-200 border shadow-slate-700"
                    (click)="changePage(-1)" [disabled]="!hasPreviousPage()">
                        <
                    </button>
                    <button class="px-4 py-2 text-gray-600 rounded-full shadow-2xl border-gray-200 border shadow-slate-700"
                    (click)="changePage(1)" [disabled]="!hasNextPage()">
                        >
                    </button>
                </div>
            }
        </div>
        


    </div>