<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="patient-search">
            <input type="text" placeholder="" class="search-bar" />
            <button class="add-new" (click)="showModal()">Add New</button>
        </div>
      
        @if(isShowing === true){
            <app-new-user (closeModal)="closeModal()"></app-new-user>
        }
      
        <div class="patients-list">
            @for (client of clients; track $index) {
            <div class="patient-item" [class.selected]="client._id === selectedClientId" (click)="onSelectClient(client)">
                {{client.firstName}}
            </div>
            }
        </div>
        <div class="treatment-plan">
            <div class="title">Treatment Plan</div>
            <div class="total">$11,500</div>
            <button class="tab-button" id="edit">Edit</button>
            <div>Cantidad total pendiente del tratamiento</div>
            <br>
            <div>Descuento aplicado: __%</div>
            <div class="payment">
                <span>Abonado: $3,500</span>
                <span>Por abonar: $11,500</span>
                <span>Total: $15,000</span>
                <button>Realizar Pago</button>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="header">
            <h3>Treatment Plan - {{inputName}} {{inputLastname}}</h3>
            <div class="tabs">
                <button class="tab-button active" (click)="goToSumm()" >Summary</button>
                <button class="tab-button" (click)="goToGall()">Gallery</button>
                <button class="tab-button" (click)="goToTreat()">Treatment</button>
            </div>
        </div>

        <!-- General Information -->
        <div class="general-info">
            <h3>General Information</h3>
            <div class="info-group">
                <div class="input-field" id="inputName">
                    <label>Name</label>
                    <input type="text" [value]="inputName"/>
                </div>
                <div class="input-field">
                    <label>Surname</label>
                    <input type="text" [value]="inputLastname" />
                </div>
                <div class="input-field">
                    <label>Email</label>
                    <input type="email" [value]="inputEmail" />
                </div>
                <div class="input-field">
                    <label>Phone Number</label>
                    <input type="tel" [value]="inputPhone" />
                </div>
                <div class="input-field">
                    <label>Gender</label>
                    <input type="text" [value]="inputGender" disabled />
                </div>
                <div class="input-field">
                    <label>Birthday</label>
                    <input type="text" [value]="inputBirthday" />
                </div>
                <div class="input-field">
                    <label>Age</label>
                    <input type="text" [value]="inputAge" />
                </div>
                <div class="input-field">
                    <label>Occupation</label>
                    <input type="text" [value]="inputOccupation" />
                </div>
                <div class="input-field">
                    <label>Hobbies</label>
                    <input type="text" [value]="inputHobbies" />
                </div>
                <div class="input-field">
                    <label>Emergency Contact</label>
                    <input type="tel" [value]="inputEmergencyContact" />
                </div>
            </div>
        </div>
    </div>
</div>