<body>
    <div class="img-container">
        <img src="/modeloMenu.jpg"
            alt="Descripción de la imagen">
    </div>
    <div class="texto">
        <div class="meet-your-new">Meet your new clinic administrator</div>
        <div class="smart-solutions-for">Welcome </div>
        <div class="form-container">
            <form>
                <input type="name" placeholder="Name" class="input-box" required>
                <input type="lastName" placeholder="Last Name" class="input-box" required>
            </form>
            <form>
                <input type="email" placeholder="E-mail" class="input-box" required>
                <input type="role" placeholder="Role (Admin, Doctor, Asistant)" class="input-box" required>
            </form>
            <form>
                <input type="password" placeholder="Password" class="input-box" required>
                <input type="password" placeholder="Confirm Password" class="input-box" required>
            </form>
        </div>
        <div class="register-button">
            <button class="register">Register</button>
        </div> 
               
    </div>

 