<body>
    <div class="img-container">
        <img src="/modeloMenu.jpg"
            alt="Descripción de la imagen">
    </div>
    <div class="texto">
        <div class="meet-your-new">Meet your new clinic administrator</div>
        <div class="smart-solutions-for">Welcome Again</div>
        <div class="form-container">
            <form>
                <input type="email" placeholder="E-mail" class="input-box" required>
                <input type="password" placeholder="Password" class="input-box" required>
            </form>
        </div>
        <div class="password-reset">
            <a href="#" class="forgot-password">Forgot my password</a>
        </div>
        <div>
            <button class="login">Log In</button>
        </div>
        
    </div>
</body>

