<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="patient-search">
            <input type="text" value="" class="search-bar" />
            <button class="add-new">Add New</button>
        </div>
        <div class="patients-list">
            @for (client of clients; track $index) {
            <div class="patient-item" [class.selected]="client._id === selectedClientId" (click)="onSelectClient(client)">
                {{client.firstName}}
            </div>
            }
        </div>

        <div class="treatment-plan">
            <div class="title">Treatment Plan</div>
            <div class="total">$11,500</div>
            <button class="tab-button" id="edit">Edit</button>
            <div>Cantidad total pendiente del tratamiento</div>
            <br>
            <div>Descuento aplicado: __%</div>
            <div class="payment">
                <span>Abonado: $3,500</span>
                <span>Por abonar: $11,500</span>
                <span>Total: $15,000</span>
                <button>Realizar Pago</button>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        @if(addModal){
            <app-create-treatment></app-create-treatment>
        }
        @if(editModal){
            <app-edit-treatment></app-edit-treatment>
        }
        <div class="header">
            <h3>Treatment Plan - {{inputName}} {{inputLastname}}</h3>
            <div class="tabs">
                <button class="tab-button" (click)="goToSumm()" >Summary</button>
                <button class="tab-button" (click)="goToGall()">Gallery</button>
                <button class="tab-button active" (click)="goToTreat()">Treatment</button>
            </div>
        </div>
        <div class="treatment-history">
            <h3>Treatment History</h3>
            <div class="add-progress">
                <input type="text" placeholder="Add progress" />
                <button class="add-btn" (click)="openAddModal()">Add</button>
            </div>
            @if (selectedClientId) {
                @for (client of cliente!.Treatments; track $index) {
                    <div class="treatment-entry">
                        <h3>{{client.date}}</h3>
                        <p>{{client.treatment}}</p>
                        <button class="edit-entry" (click)="openEditModal()">Edit</button>
                    </div>
                }
            }
        </div>
    </div>
</div>