<div class="img-container">
    <img src="/modeloMenu.jpg" alt="Descripción de la imagen">
</div>
<div class="texto">
    <div class="meet-your-new">Meet your new clinic administrator</div>
    <div class="smart-solutions-for">Welcome </div>
    <form [formGroup]="form" (submit)="signup()" class="form-container">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" class="input-box" formControlName="name" required>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="input-box" formControlName="lastName" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" class="input-box" formControlName="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" class="input-box" formControlName="password" required>
        </div>
        <div>
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" class="input-box" formControlName="confirm" required>
        </div>
        <div class="register-button">
            <button class="register">Register</button>
        </div>
    </form>

</div>