.container {
    display: flex;
    height: 90vh;
    font-family: Arial, sans-serif;
    background-color: #aec1c5;
}

.sidebar {
    width: 25%;
    padding: 20px;
    height: 90%;
    margin: 20px 15px;
    background-color: #fff;
    display: flex;
    font-size: small;
    color: #999;
    flex-direction: column;

    .patient-search {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        .search-bar {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .add-new {
            background-color: #b0a295;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #4b7b7b;
            }
        }
    }

    .tab-button {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        background-color: #a6886b;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 1px solid #d3d3d3;
    }

    #edit {
        float: right;
    }

    h3 {
        color: #111;
    }

}

.patients-list {
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .patient-item {
        padding: 10px;
        margin: 5px 10px;
        width: auto;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        color: #4f4f4f;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #34747B;
            color: #fff;
        }

        &.selected {
            background-color: #34747B;
            color: #fff;
            border: none;
        }
    }
}

.treatment-plan {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    .title {
        font-size: 28px;
        color: #111;
    }

    .total {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #111;
    }

    .payment {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

        button {
            background-color: #333;
            border-radius: 8px;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #777;
            }
        }
    }
}

.main-content {
    width: 75%;
    padding: 20px;
    background-color: #fff;
    margin: 20px 15px 0;
    height: 90%;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .tab-button {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
        background-color: #a6886b;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 1px solid #d3d3d3;

        &:hover {
            background-color: #34747B;
            color: #fff;
        }

        &.active {
            background-color: #34747B;
            color: #fff;
            border: none;
        }
    }
}

.general-info {
    background-color: #fff;
    padding: 20px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .info-group {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px;

        .input-field {
            flex: 1 1 30%;
            margin: 0 10px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                font-size: large;
            }

            input {
                width: 100%;
                padding: 8px;
                border: none;
                border-bottom: 2px solid #ddd;
                font-size: 14px;
                outline: none;
                transition: border-bottom-color 0.3s;

                &:focus {
                    border-bottom-color: #34747B;
                }

                &:hover {
                    border-bottom-color: #34747B;
                }
            }

            input[disabled] {
                background-color: transparent;
                color: #999;
            }
        }
    }

    .upload-section {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
        margin-left: 20px;
    }

    .upload-box {
        width: 250px;
        height: 150px;
        border: 2px dashed #ddd;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #999;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            border-color: #34747B;
            color: #333;
        }
    }

    .download-link {
        color: #34747B;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 5px;

        &:hover {
            text-decoration: none;
        }
    }
}

button.upload-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #333;
    }
}