<div class="grid grid-cols-[1fr_2fr] w-500px h-[full] gap-4 p-4" style="background-color: #AEC1C5;">
    <div class=" side-var flex bg-white flex-col items-center">
        <div class="flex justify-between p-5 mt-5 mb-5 gap-5 w-[500px]">
            <input type="text" name="name" id="name" placeholder="Patient's name" class="w-[70%] rounded-3xl h-12 p-5 border-gray-300 border-[1.5px] focus:outline-none">
            <button class=" text-white  text-lg text-center w-[150px] p-2 rounded-xl" style="background-color:#A6886B;"> Add New</button>
        </div>

        <div class= "flex flex-col shadow-lg rounded-lg border-gray-200 border-[1.5px] w-[450px]">
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            <div class="flex items-center gap-2 m-5 mb-2">
                <span class="material-symbols-outlined ">person</span><a class="text-center font-medium p-2 rounded-xl hover:bg-[#34747B] hover:text-white" href="#"> Patient Name </a>
            </div>
            
        </div>

        <div class="flex flex-col w-[450px] mt-5">
            <h2 class="text-xl font-semibold">Treatment Plan #12345</h2>
            <h2 class="text-4xl font-bold mt-2">$11,500</h2>
            <div class="flex justify-between items-center mt-2 gap-3 mb-2">
                <p class="w-[70%] text-sm text-gray-500 ">Cantidad total pendiente del tratamiento</p>
                <button class="w-[30%] bg-[#A6886B] rounded-md text-white">Edit</button>
            </div>
            <p class="ml-[1px] text-sm text-gray-500">Descuento aplicado: __ %</p>
            <ul class="mt-3 ml-[1px] text-sm text-gray-500">
                <li>Abonado...................................................................................$4,000</li>
                <li>Por Abonar................................................................................$11,000</li>
                <li>Total..........................................................................................$15,000</li>
            </ul>
            <button class="w-full mt-5  bg-[#2C2C2C] text-white p-2 rounded-lg">Realizar Pago</button>
        </div>
    </div>  
    <div class="bg-white p-5">
        <full-calendar [options]="calendarOptions" class="h-[90%]"></full-calendar>

    </div>
</div>
