<div class="backdrop" (click)="closeModal()"></div>
<div class="modal">
  <div class="modal-header">
    <!-- Título del modal con la fecha de hoy -->
    <h2>Edit  -  {{ today }}</h2>
    <button class="close-button" (click)="closeModal()">&times;</button>
  </div>
  <div class="modal-body">
    <!-- Área de texto para ingresar texto grande -->
    <textarea
      class="modal-textarea"
      placeholder="Escribe aquí tu texto..."
    ></textarea>
  </div>
  <div class="modal-footer">
    <button class="action-button" (click)="save()">Guardar</button>
    <button class="cancel-button" (click)="closeModal()">Cancelar</button>
  </div>
</div>
