.treatment-h1{
    font-weight: 600;
    font-size: 1.8rem;
}

.price{
    font-weight: 600;
    font-size: 3.5rem;
}

.treatment{
    font-weight: 600;
    font-size: 1.8rem;
}

.patient{
    font-weight: 600;
    font-size: 1.8rem;
}